
hr{
    border: 1px solid black;
}

#curriculo{
    width: 500px;
    height: 200px;
    margin-left: 10px;
}

#div-final{
    display: flex;
}

#text{
    position: relative;
    top: 187px;
    
}

button{
    cursor: pointer;
}
